:root {
  --max-width: 1280px;
  --full-width: 100vw;
  --full-height: calc(var(--vh, 1vh) * 100);
  --hexagon-md-size: 160px;
  --hexagon-sm-size: 120px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --base-main-color: rgb(234, 82, 111); /* #EA526F */
  --base-text-color: rgb(3, 3, 1); /* #030301 */
  --base-subtext-color: rgb(71, 85, 105);  /* #475569 */
  --base-annotation-color: rgb(203, 213, 225); /* #cbd5e1 */
  --base-disabled-color: rgb(251, 245, 243); /* #FBF5F3 */
  --base-white-color: rgb(255, 255, 255);  /* #FFFFFF */
  --base-border-color: rgb(204, 219, 220); /* #CCDBDC */
  --secondary-border-color: rgb(242, 242, 242);  /* #F2F2F2 */


  --base-slate-900: rgb(15, 23, 42); /* #0f172a */
  --base-slate-800: rgb(30, 41, 59);  /* #1e293b */
  --base-slate-400: rgb(148, 163, 184);  /* #94a3b8 */
  --base-slate-300: rgb(203, 213, 225);  /* #cbd5e1 */
  --base-slate-200: rgb(226, 232, 240);  /* #e2e8f0 */
  --base-slate-50: rgb(241, 245, 249); /* #f1f5f9 */
  --base-white-color: rgb(255, 255, 255); /* #FFFFFF */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-white);
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}
