.wrapper {
  padding: 0.4rem 3rem 1.6rem;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--base-slate-400);
}
.link:hover {
  color: var(--base-slate-800);
}
