.wrapper {
  padding: 2.4rem 3.2rem;
}

.inner {
  margin: 0 auto;
  width: 80%;
}

.index {
  width: 100%;
}
.index:not(:nth-last-of-type(1)) {
  margin-bottom: 1.6rem;
}
.index > p {
  padding-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

.filter_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 1.2rem;
}
.filter_list + .filter_list {
  margin-top: 1.6rem;
}

.filter_list_item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: var(--base-white-color);
  border-radius: 0.6rem;
  border: 1px solid var(--base-slate-200);
}
.filter_list_item > span {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--base-slate-800);
}
.filter_list_item.is_select {
  background-color: var(--base-main-color);
}
.filter_list_item.is_select > span {
  color: var(--base-white-color);
}
