.box {
  position: relative;
  margin: 0 auto 3.2rem;
  width: 80%;
  z-index: 20;
}

.sort_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1rem;
}

.sort_item {
  position: relative;
}

.sort_button {
  display: inline-flex;
  align-items: center;
  column-gap: .4rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: var(--base-slate-800);
}
.sort_button svg {
  width: 2rem;
  height: 2rem;
}

.sort_content {
  position: absolute;
  left: 50%;
  margin-top: 2rem;
  padding: 2rem 1.6rem;
  width: 100vw;
  max-width: max-content;
  transform: translate(-50%, 0);
  background-color: var(--base-white-color);
  border-radius: 0.6rem;
  border: 1px solid var(--base-slate-200);
  z-index: 10;
}

.sort_inner + .sort_inner {
  margin-top: 1.2rem;
}

.filter_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 1.2rem;
}
.filter_list + .filter_list {
  margin-top: 1.6rem;
}

.filter_list_item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--base-white-color);
  border-radius: 0.6rem;
  border: 1px solid var(--base-slate-200);
}
.filter_list_item > span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--base-slate-800);
}
.filter_list_item.is_select {
  background-color: var(--base-main-color);
}
.filter_list_item.is_select > span {
  color: var(--base-white-color);
}
