.header {
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--base-slate-200);
}

.inner {
  padding: 1.6rem 3rem;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: var(--base-slate-800);
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--base-slate-400);
}

.description {
  padding-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: var(--base-slate-800);
}
