.loading_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 2px solid var(--base-main-color);
  border-bottom-color: transparent;
  background: transparent;
  animation: rotate 0.75s 0s linear infinite;
  z-index: 1000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}
