.wrapper {
  position: relative;
  overflow-y: auto;
  margin: 0 auto;
  width: 80%;
  height: calc(var(--full-height) * 0.7);
  max-height: calc(var(--full-height) * 0.6);
  background-color: var(--base-white-color);
  border: 1px solid var(--base-slate-200);
  border-radius: 0.8rem;
  z-index: 10;
}

.inner {
  padding: 2.5rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  flex: 1 1 auto;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  font-weight: 700;
  color: var(--base-text-color);
}

.description {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--base-subtext-color);
}

.loading_wrapper {
  width: 100%;
}
.loading_wrapper.full_height {
  height: calc(calc(var(--full-height) * 0.56) - 63px);
}
.loading_wrapper:not(.full_height) {
  height: 7.2rem;
}

.container {
  display: flow-root;
}

.table_wrapper {
  margin: -0.5rem -2rem;
}

.table_inner {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 0;
  min-width: 100%;
}

.table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.theadrow {
  position: sticky;
  top: 0px;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--base-text-color);
  text-align: left;
  border-bottom: 1px solid var(--base-border-color);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: 8px;
}
.theadrow:nth-of-type(1) {
  padding-left: 2rem;
  padding-right: 1.2rem;
}
.theadrow:not(:nth-of-type(1)) {
  display: table-cell;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.tbodyrow {
  position: relative;
}
.tbodyrow.tbodyrow.is_loading::after {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 2px solid var(--base-main-color);
  border-bottom-color: transparent;
  background: transparent;
  animation: rotate 0.75s 0s linear infinite;
  z-index: 1000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.tbodydata {
  position: relative;
  padding: 1rem 0;
}
.tbodydata:nth-of-type(1) {
  padding-left: 2rem;
  padding-right: 1.2rem;
}
.tbodydata:not(:nth-of-type(1)) {
  display: table-cell;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.tbodyrow.is_loading .tbodydata::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-white-color);
  opacity: 0.8;
  z-index: 999;
}
.tbodyrow:not(:nth-last-of-type(1)) .tbodydata {
  border-bottom: 1px solid var(--base-border-color);
}
