.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--full-width);
  height: var(--full-height);
}

.inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: calc(calc(var(--vh, 1vh) * 100) * 0.9);
}

.backgroundImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  opacity: 0.3;
}

.logo {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(0, -50%);
}

.linkBox {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkBox button:nth-of-type(1) {
  margin-right: 1.6rem;
}
.linkBox button:nth-of-type(2) {
  margin-left: 1.6rem;
}
